<h1>Settings</h1>

<form method ="post" action="/updateSettings">
    <label>GameLength:</label>
    <input type="number" max="100" name="gameLength" />
    <button type ="submit">Save Changes</button>
</form>