@* /WorldFlagImages/Flag of Afghanistan.jpg *@
@model Country
<h1>Play game</h1>

<div class="text-center">
    <img src="@Model.Flag" width="640" height="480" />
    <h4>@Model.Name</h4>
</div>
@* @foreach(var country in Model)
{
     <h1>@country.Name</h1>
    <img src="@country.Flag" />  
}
 *@